<div class="question-list">
	<% if questions.present? %>
		<table class="table table-hover">
			<tbody>
				<% questions.each do |question| %>
					<tr>
						<td>
							<%= link_to accident_question_path(question.accident_id, question.id), class:"link-tag" do %>
								<%= attachment_image_tag question.accident, :situation_img, :fill, 100, 100 %>
							<% end %>
						</td>
						<td>
							<% if question.status == "回答受付中" %>
								<p class="question-status-false label label-warning"><%= question.status %></p>
							<% else %>
								<p class="question-status-true label label-success"><%= question.status %></p>
							<% end %>
						</td>
						<td>
							<%= link_to accident_question_path(question.accident_id, question.id), class:"link-tag" do %>
								<i class="fas fa-question"></i><%= question.title %>
							<% end %>
							<%= render 'questions/tag_list_2', tag_list: question.tag_list %>
						</td>
						<td><i class="far fa-eye"></i><%= question.impressions_count %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<div>
			<p>質問がありません。</p>
		</div>
	<% end %>
</div>