<div class="new-question-view">
	<div class="question-form-section">
	<%= form_for(@question, url: accident_questions_path) do |f| %>
		<div class="question-guide">
			<p>質問内容を入力してください</p>
		</div>
		<div class="question-form">
			<%= f.text_area :title, class:"form-control", rows:"3", id:"InputTextarea", placeholder:"質問概要&#13;&#10;&#13;&#10;交差点の事故の過失割合について".html_safe %>
		</div>
		<div class="question-form">
			<%= f.text_area :body, class:"form-control", rows:"20", id:"InputTextarea", placeholder:"質問詳細&#13;&#10;&#13;&#10;十字路交差点で事故を起こし、保険会社から1:9と言われました。相手は一時停止線を無視して交差点に進入しています。こちらにも１割責任割合があることが納得いきません。本当に１割負担しなければならないでしょうか。".html_safe  %>
		</div>
		<div class="question-tag-section">
			<div class="tag-guide">
				<p>質問内容に関係するタグを選択してください（複数可）</p>
			</div>
			<%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
				<%=  tag.label do %>
					<div><%= tag.check_box %><%= tag.text %></div>
				<% end %>
			<% end %>
		</div>
		<div class="question-submit-btn-wrap"><%= f.submit "質問を投稿する", class:"btn btn-primary" %></div>
	<% end %>
	</div>
</div>