<!-- サクセスメッセージ -->
<% if flash[:notice].present? %>
<div class="success-message alert alert-success" role="alert" id ="notice"><%= flash[:notice] %></div>
<% end %>
<!-- / -->

<div class="question-view">
	<div class="question-section row">
		<div class="question-info">
			<span class="question-question-user-name"><%= @question.question_user.name %></span>
			<span class="question-question-ctreated-at"><%= @question.created_at %>に投稿</span>
		</div>
		<div class="question-headline">
			<% if @question.status == "回答受付中" %>
				<span class="question-question-status-false label label-warning"><%= @question.status %></span>
			<% else %>
				<span class="question-question-status-true label label-success"><%= @question.status %></span>
			<% end %>
			<div class="question-title">
				<div>
					<h2><%= @question.title %></h2>
				</div>
				<div class="question-edit-link">
					<% if question_user_signed_in? %>
						<% if current_question_user.id == @question.question_user_id %>
							<%= link_to edit_accident_question_path(@question.id) do %>
								<div class="question-edit-link-icon glyphicon glyphicon-edit" aria-hidden="true"></div>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="question-tags">
			<% @question.tags.each do |tag| %>
				<span class="label label-info"><%= tag.name %></span>
			<% end %>
		</div>
		<div class="question-body">
			<p><%= @question.body %></p>
		</div>
		<div class="accident-link">
			<div class="accident-link-title text-center">
				<h3>この質問の事故詳細</h3>
			</div>
			<%= link_to accident_path(@question.accident.id), class:"link-tag" do %>
			<div class="accident-link-box">
				<div class="accident-img"><%= attachment_image_tag @question.accident, :situation_img, :fill, 100, 100 %></div>
				<div class="accident-title">
					<% if @question.accident.status == "対応中" %>
						<span class="accident-status-false label label-warning"><%= @question.accident.status %></span>
					<% else %>
						<span class="accident-status-true label label-success"><%= @question.accident.status %></span>
					<% end %>
					<h4><%= @question.accident.title %></h4>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<!-- 回答者がログインしている際は回答フォームを出す -->
	<% if answer_user_signed_in? %>
	<div class="answer-form-section row">
		<div class="answer-form">
			<h3>あなたの回答</h3>
			<%= form_for(@answer) do |f| %>
				<%= f.hidden_field :question_id, value: @question.question_id %>
				<div><%= f.text_area :body, class:"form-control", rows:"10", id:"InputTextarea", placeholder:"回答を入力してください。" %></div>
				<div class="answer-submit-btn-wrap text-right"><%= f.submit "回答する",class:"btn btn-primary" %></div>
			<% end %>
		</div>
	</div>
	<% end %>
	<!-- / -->
	<div class="answers-section row">
		<div class="answers-count">
			<h2>
				回答　<%= @question.answer_count %>件
			</h2>
		</div>
		<!-- 回答がない場合 -->
		<% unless @question.answers.present? %>
		<div>
			<p>まだ回答がありません。</p>
		</div>

		<!-- 回答がある場合 -->
		<% else %>
			<!-- ベストアンサーがある場合 -->
			<% if @question.best_answer.present? %>
			<div class="best-answer-section">
				<h3>ベストアンサー</h3>
				<% @question.best_answer do |best_answer| %>
					<%= best_answer.answer.answer_user.name %>
					<%= best_answer.answer.created_at %>
					<%= best_answer.answer.body %>
				<% end %>
			</div>
			<div class="answers-section">
				<h3>その他の回答</h3>>
				<% @question.answers.each do |answer| %>
				<div>
					<%= answer.answer_user.name %>
					<%= answer.created_at %>
					<%= answer.body %>
				</div>
				<% end %>
			</div>
			<!-- ベストアンサーがない場合 -->
			<% else %>
			<div>
				<% @question.answers.each do |answer| %>
				<div>
					<%= answer.answer_user.name %>
					<%= answer.created_at %>
					<%= answer.body %>
				</div>
				<% end %>
			</div>
			<% end %>
		<% end %>
	</div>

</div>