<!-- サクセスメッセージ -->
<% if flash[:notice].present? %>
<div class="success-message alert alert-success row" role="alert" id ="notice"><%= flash[:notice] %></div>
<% end %>
<!-- / -->
<!-- エラーメッセージ -->
<% if @answer.errors.any? %>
	<div class="alert alert-danger row" role="alert">
		<strong>エラー</strong>
		<ul>
			<% @answer.errors.full_messages do |message| %>
			<li><p><%= message %></p></li>
			<% end %>
		</ul>
	</div>
<% end %>
<!-- /エラーメッセージ -->

<div class="question-view">
	<div class="question-section row">
		<div class="question-info">
			<span class="question-question-user-name"><%= @question.question_user.name %></span>
			<span class="question-question-ctreated-at"><%= @question.created_at.strftime('%Y/%m/%d') %>に投稿</span>
		</div>
		<div class="question-headline">
			<% if @question.status == "回答受付中" %>
				<span class="question-question-status-false label label-warning"><%= @question.status %></span>
			<% else %>
				<span class="question-question-status-true label label-success"><%= @question.status %></span>
			<% end %>
			<div class="question-title">
				<div>
					<h2><%= @question.title %></h2>
				</div>
				<div class="question-edit-link">
					<% if question_user_signed_in? %>
						<% if current_question_user.id == @question.question_user_id %>
							<%= link_to edit_accident_question_path(@question.id) do %>
								<div class="question-edit-link-icon glyphicon glyphicon-edit" aria-hidden="true"></div>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="question-tags">
			<%= render 'tag_list_2', tag_list: @question.tag_list %>
		</div>
		<div class="question-body">
			<p><%= @question.body %></p>
		</div>
		<div class="accident-link">
			<div class="accident-link-title text-center">
				<h3>この質問の事故詳細</h3>
			</div>
			<%= link_to accident_path(@question.accident.id), class:"link-tag" do %>
			<div class="accident-link-box">
				<div class="accident-img"><%= attachment_image_tag @question.accident, :situation_img, :fill, 100, 100 %></div>
				<div class="accident-title">
					<% if @question.accident.status == "対応中" %>
						<span class="accident-status-false label label-warning"><%= @question.accident.status %></span>
					<% else %>
						<span class="accident-status-true label label-success"><%= @question.accident.status %></span>
					<% end %>
					<h4><%= @question.accident.title %></h4>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<!-- 回答者がログインしている && 質問ステータスが回答受付中の際は回答フォームを出す -->
	<% if answer_user_signed_in? && @question.status == "回答受付中" %>
	<div class="answer-form-section row">
		<div class="answer-form">
			<h3>あなたの回答</h3>
			<%= form_for(@answer) do |f| %>
				<%= f.hidden_field :question_id, value: @question.id %>
				<div><%= f.text_area :body, class:"form-control", rows:"10", id:"InputTextarea", placeholder:"回答を入力してください。" %></div>
				<div class="answer-submit-btn-wrap text-right"><%= f.submit "回答する",class:"btn btn-primary" %></div>
			<% end %>
		</div>
	</div>
	<% end %>
	<!-- / -->
	<div class="answers-section row">
		<div class="answers-count">
			<h2>
				回答　<span class="count-number"><%= @question.answers.count %></span>件
			</h2>
		</div>
		<!-- 回答がない場合 -->
		<% unless @question.answers.present? %>
		<div>
			<p>まだ回答がありません。</p>
		</div>

		<!-- 回答がある場合 -->
		<% else %>
			<!-- ベストアンサーがある場合 -->
			<% if @question.best_answer.present? %>
			<div class="best-answer-section">
				<h3><i class="best_answer_icon fas fa-crown"></i>ベストアンサー</h3>
				<p><%= @question.best_answer.answer.body %></p>
				<span>
					<%= link_to answer_user_path(@question.best_answer.answer.answer_user_id) do %>
						<%= @question.best_answer.answer.answer_user.name %>
					<% end %>
				</span>
				<span class="skill label label-primary"><%= @question.best_answer.answer.answer_user.status %></span>
				<span class="skill label label-primary"><%= @question.best_answer.answer.answer_user.career %></span>
				<span class="skill label label-primary"><%= @question.best_answer.answer.answer_user.speciality %></span>
				<span class="skill label label-primary"><%= @question.best_answer.answer.answer_user.qualification %></span>
				<p class="text-right"><%= @question.best_answer.answer.created_at.strftime('%Y/%m/%d') %>に投稿</p>
				<%= link_to "消す", best_answer_path(@question.best_answer.id), :method => :delete %>
			</div>
			<div class="other-answers-section">
				<h3><i class="answer-icon fas fa-comment-alt"></i>その他の回答</h3>
				<% @question.answers.where.not(id: @question.best_answer.answer_id).each do |answer| %>
				<div>
					<p><%= answer.body %></p>
					<span>
						<%= link_to answer_user_path(answer.answer_user_id) do %>
							<%= answer.answer_user.name %>
						<% end %>
					</span>
					<span class="skill label label-primary"><%= answer.answer_user.status %></span>
					<span class="skill label label-primary"><%= answer.answer_user.career %></span>
					<span class="skill label label-primary"><%= answer.answer_user.speciality %></span>
					<span class="skill label label-primary"><%= answer.answer_user.qualification %></span>
					<p class="text-right"><%= answer.created_at.strftime('%Y/%m/%d') %>に投稿</p>
				</div>
				<% end %>
			</div>
			<!-- ベストアンサーがない場合 -->
			<% else %>
				<!-- ベストアンサーがない && 投稿ユーザーの場合 -->
				<% if question_user_signed_in? && current_question_user.id == @question.question_user_id %>
				<div>

				<% @question.answers.each do |answer| %>
					<table class="table">
						<tbody>
							<tr>
								<td>
									<span>
										<%= link_to answer_user_path(answer.answer_user_id) do %>
											<%= answer.answer_user.name %>さん
										<% end %>
									</span>
									<span class="skill label label-primary"><%= answer.answer_user.status %></span>
									<span class="skill label label-primary"><%= answer.answer_user.career %></span>
									<span class="skill label label-primary"><%= answer.answer_user.speciality %></span>
									<span class="skill label label-primary"><%= answer.answer_user.qualification %></span>
									<p><%= answer.body %></p>
									<p class="text-right"><%= answer.created_at.strftime('%Y/%m/%d') %>に投稿</p>
									<div class="text-right">
										<%= form_for(@best_answer) do |f| %>
											<%= f.hidden_field :question_id, value: answer.question_id %>
											<%= f.hidden_field :answer_id, value: answer.id %>
											<%= f.submit "この回答をベストアンサーにする", class:"btn btn-info" %>
										<% end %>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				<% end %>

				</div>
				<!-- ベストアンサーがない && 投稿ユーザ以外の場合 -->
				<% else %>
				<div>
					<% @question.answers.each do |answer| %>
					<table class="table">
						<tbody>
							<tr>
								<td>
									<span>
										<%= link_to answer_user_path(answer.answer_user_id) do %>
											<%= answer.answer_user.name %>さん
										<% end %>
									</span>
									<span class="label label-success">tag</span>
									<span class="skill label label-primary"><%= answer.answer_user.status %></span>
									<span class="skill label label-primary"><%= answer.answer_user.career %></span>
									<span class="skill label label-primary"><%= answer.answer_user.speciality %></span>
									<span class="skill label label-primary"><%= answer.answer_user.qualification %></span>
									<p><%= answer.body %></p>
									<p class="text-right"><%= answer.created_at.strftime('%Y/%m/%d') %>に投稿</p>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
					<% end %>
				</div>
				<% end %>
			<% end %>
		<% end %>
	</div>

</div>