<!-- サクセスメッセージ -->
<% if flash[:notice].present? %>
<div class="success-message alert alert-success row" role="alert" id ="notice"><%= flash[:notice] %></div>
<% end %>
<!-- / -->

<div class="maypage-view row">
	<div class="profile-section">
			<div class="profile-box1">
					<div class="img">
						<div><%= image_tag 'question_user.png', class:"img-circle", :size => '250x250' %></div>
					</div>
					<div class="name-score-level">
						<h2><%= @question_user.name %></h2>
					</div>
					<!-- 本人の場合 -->
					<% if question_user_signed_in? && current_question_user.id == @question_user.id %>
					<div class="profile-edit-box">
						<%= link_to edit_question_user_path(@question_user.id), class:"link-tag" do %>
							<div class="fas fa-user-edit"></div>
						<% end %>
					</div>
					<% end %>
			</div>
	</div>
	<div class="new-question-section text-center">
		<%= link_to new_accident_path, class:"btn btn-success" do %>
			<i class="fas fa-plus"></i>新しく事故を登録して質問する
		<% end %>
	</div>
	<div class="index-section">
		<div class='tabs'>
		  <div class='tab-buttons'>
		    <span class='content1'>
		    	<p class="badge"><%= @question_user.questions.count %></p>
		    	投稿した質問
		    </span>
		    <span class='content2'>
		    	<p class="badge"><%= @question_user.accidents.count %></p>
		    	投稿した事故
		    </span>
		    <span class='content3'>
		    	<p class="badge"><%= @question_user.favorites.count %></p>
		    	参考になった
		    </span>
		    <div id='lamp' class='content1'></div>
		  </div>
		<div class="tab-content">
			<!-- 投稿した質問タブ -->
			<div class="content1">
				<%= render 'questions/question_list', questions: @question_user.questions %>
			</div>
			<!-- 投稿した事故タブ -->
			<div class="content2">
				<table class="table table-hover">
					<tbody>
						<% @question_user.accidents.each do |accident| %>
							<tr>
								<td>
									<%= link_to accident_path(accident.id), class:"link-tag" do %>
										<%= attachment_image_tag accident, :situation_img, :fill, 100, 100 %>
									<% end %>
								</td>
								<td>
									<% if accident.status == "対応中" %>
										<p class="question-status-false label label-warning"><%= accident.status %></p>
									<% else %>
										<p class="question-status-true label label-success"><%= accident.status %></p>
									<% end %>
								</td>
								<td>
									<%= link_to accident_path(accident.id), class:"link-tag" do %>
										<i class="fas fa-question"></i><%= accident.title %>
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<!-- 参考になった質問タブ -->
			<div class="content3">
				<% if @question_user.favorites.present? %>
					<table class="table table-hover">
						<tbody>
							<% @question_user.favorites.each do |favorite| %>
								<tr>
									<td>
										<%= link_to accident_question_path(favorite.question.accident_id, favorite.question.id), class:"link-tag" do %>
											<%= attachment_image_tag favorite.question.accident, :situation_img, :fill, 100, 100 %>
										<% end %>
									</td>
									<td>
										<% if favorite.question.status == "回答受付中" %>
											<p class="question-status-false label label-warning"><%= favorite.question.status %></p>
										<% else %>
											<p class="question-status-true label label-success"><%= favorite.question.status %></p>
										<% end %>
									</td>
									<td>
										<%= link_to accident_question_path(favorite.question.accident_id, favorite.question.id), class:"link-tag" do %>
											<i class="fas fa-question"></i><%= favorite.question.title %>
										<% end %>
										<%= render 'questions/tag_list_2', tag_list: favorite.question.tag_list %>
									</td>
									<td><i class="far fa-eye"></i><%= favorite.question.impressions_count %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				<% else %>
					<div>
						<p>まだ質問がありません。</p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>