<!-- サクセスメッセージ -->
<% if flash[:notice].present? %>
	<div class="success-message alert alert-success row" role="alert" id ="notice"><%= flash[:notice] %></div>
<% end %>
<!-- / -->
<div class="top-view row">
	<div class="main col-md-8">
		<div class="questions-index-section row">
			<div class='tabs'>
			  <div class='tab-buttons'>
			    <span class='content1'>
			    	ランキング
			    </span>
			    <span class='content2'>
			    	解答済み
			    </span>
			    <span class='content3'>
			    	回答受付中
			    </span>
			    <div id='lamp' class='content1'></div>
			  </div>
			<div class="tab-content">
				<!-- ランキングタブ -->
				<div class="content1">
					<table class="jscroll top-question-list table table-hover">
						<tbody class="">
							<% @most_viewed.each.with_index(1) do |question, rank| %>
							<tr class="">
								<div>
									<td class="rank"><%= "#{rank}" %></td>
									<td>
										<%= link_to accident_question_path(question.accident_id, question.id), class:"link-tag" do %>
											<%= attachment_image_tag question.accident, :situation_img, :fill, 100, 100, fallback: "no-img.jpg", :size => '100x100' %>
										<% end %>
									</td>
									<td>
										<% if question.status == "回答受付中" %>
											<p class="question-status-false label label-warning"><%= question.status %></p>
										<% else %>
											<p class="question-status-true label label-success"><%= question.status %></p>
										<% end %>
									</td>
									<td>
										<%= link_to accident_question_path(question.accident_id, question.id), class:"link-tag" do %>
											<i class="fas fa-question"></i>
											<%= question.title %>
										<% end %>
										<div class="tags">
											<%= render 'questions/tag_list_2', tag_list: question.tag_list %>
										</div>
									</td>
									<td><i class="far fa-eye"></i><%= question.impressions_count %></td>
								</div>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<!-- 解決済みタブ -->
				<div class="content2">
					<table class="table table-hover">
						<tbody>
							<% @questions.where(status: "解決済み").each do |question| %>
								<tr>
									<td>
										<%= link_to accident_question_path(question.accident_id, question.id), class:"link-tag" do %>
											<%= attachment_image_tag question.accident, :situation_img, :fill, 100, 100, fallback: "no-img.jpg", :size => '100x100' %>
										<% end %>
									</td>
									<td><p class="question-status-true label label-success"><%= question.status %></p></td>
									<td>
										<%= link_to accident_question_path(question.accident_id, question.id), class:"link-tag" do %>
											<i class="fas fa-question"></i><%= question.title %>
										<% end %>
										<div class="tags">
											<%= render 'questions/tag_list_2', tag_list: question.tag_list %>
										</div>
									</td>
									<td><i class="far fa-eye"></i><%= question.impressions_count %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<!-- 回答受付中タブ -->
				<div class="content3">
					<table class="table table-hover">
						<tbody>
							<% @questions.where(status: "回答受付中").each do |question| %>
								<tr>
									<td>
										<%= link_to accident_question_path(question.accident_id, question.id), class:"link-tag" do %>
											<%= attachment_image_tag question.accident, :situation_img, :fill, 100, 100, fallback: "no-img.jpg", :size => '100x100' %>
										<% end %>
									</td>
									<td><p class="question-status-true label label-warning"><%= question.status %></p></td>
									<td>
										<%= link_to accident_question_path(question.accident_id, question.id), class:"link-tag" do %>
											<i class="fas fa-question"></i><%= question.title %>
										<% end %>
										<div class="tags">
											<%= render 'questions/tag_list_2', tag_list: question.tag_list %>
										</div>
									</td>
									<td><i class="far fa-eye"></i><%= question.impressions_count %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="sidebar col-md-3">
		<% if question_user_signed_in? %>
			<div class="new-question-btn-wrap text-center row">
				<%= link_to new_accident_path, class:"form-control btn btn-success" do %>
					<i class="fas fa-plus"></i> 新しく事故を登録して質問する
				<% end %>
			</div>
		<% end %>
		<div class="serch-btn-wrap row">
			<%= link_to questions_path, class:"form-control btn btn-info" do %>
				<i class="fas fa-search"></i> 条件を絞り込んで質問を検索する
			<% end %>
		</div>
		<div class="user-rank row">
			<h4>回答者ランキング</h4>
			<table class="table table-hover">
				<tbody>
					<% @answer_users.each do |answer_user| %>
					<tr>
						<td>
							<%= link_to answer_user_path(answer_user.id), class:"link-tag" do %>
								<i class="fas fa-user"></i><%= answer_user.name %>
							<% end %>
						</td>
						<td>
							スコア　<%= answer_user.total_score %>pt
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="tag-rank row">
			<h4>よく使われているタグ</h4>
			<table class="table table-hover">
				<tbody>
					<% @tags.each do |tag| %>
						<tr>
							<td>
								<%= link_to questions_path(tag_name: tag.name), class:"link-tag" do %>
									<i class="fas fa-tag"></i><%= tag %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>