<h2 class="view-title">ログイン</h2>
<div class="user-session-view row">
  <div class="session-guide-section col-md-5">
    <div class="user-session-img"></div>
    <p>回答者としてログイン</p>
  </div>
  <div class="session-form-section col-md-7">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field row">
      <%= f.label :email, "メールアドレス", class:"col-xs-4 control-label" %>
      <div class="col-xs-8"><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></div>
    </div>

    <div class="field row">
      <%= f.label :password, "パスワード", class:"col-xs-4" %>
      <div class="col-xs-8"><%= f.password_field :password, autofocus: true, autocomplete: "password", class:"form-control" %></div>
    </div>
    <div class="actions row">
      <div class="col-xs-8 col-xs-offset-4">
        <%= f.submit "ログイン", class:"btn btn-primary" %><br>
        <%= render "answer_users/devise/shared/links" %>
      </div>
    </div>
  <% end %>
  </div>
</div>