<!-- サクセスメッセージ -->
<% if flash[:notice].present? %>
<div class="success-message alert alert-success" role="alert" id ="notice"><%= flash[:notice] %></div>
<% end %>
<!-- / -->

<div class="accident-view">
	<div class="accident-section row">
		<div class="accident-info-box">
			<span class="question-user-name"><%= @accident.question_user.name %></span>
			<span class="accident-created-at"><%= @accident.created_at %>に投稿</span>
		</div>
		<div class="accident-title-box">
			<% if @accident.status == "対応中" %>
				<span class="accident-status-false label label-warning"><%= @accident.status %></span>
			<% else %>
				<span class="accident-status-true label label-success"><%= @accident.status %></span>
			<% end %>
			<div class="accident-title">
				<div>
					<h2><%= @accident.title %></h2>
				</div>
				<div class="accident-edit-link">
					<% if current_question_user.id == @accident.question_user_id %>
						<%= link_to edit_accident_path(@accident.id), class:"link-tag accident-edit" do %>
							<div class="accident-edit-link-icon glyphicon glyphicon-edit" aria-hidden="true"></div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="accident-body-box">
			<div class="accident-body-item text">
				<h4>事故の詳細状況</h4>
				<p><%= @accident.body %></p>
			</div>
			<div class="accident-body-item img">
				<%= attachment_image_tag @accident, :situation_img, :fill, 400, 400, fallback: "no_image.jpg", :size => '400x400' %>
			</div>
		</div>
		<div class="accident-damage-box">
			<h4>被害状況</h4>
			<div class="damage-boxes">
				<div class="question-user-damage">
					<h5>質問者被害</h5>
					<p><%= @accident.question_user_damage %></p>
				</div>
				<div class="the-other-damage">
					<h5>相手被害</h5>
					<p><%= @accident.the_other_damage %></p>
				</div>
			</div>
		</div>
		<div class="accidnt-question-box">
			<h4>この事故に関する質問</h4>
			<div>
				<table class="table table-hover">
					<tbody>
						<% @accident.questions.each do |question| %>
						<tr>
							<td>
								<%= link_to accident_question_path(question.id), class:"link-tag" do %>
								<div>
									<i class="fas fa-question"></i><%= question.title %>
								</div>
								<% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="accident-solution-box">
			<h4>解決レポート</h4>
			<!-- 事故ステータスが対応中 -->
			<% if @accident.status == "対応中" %>

				<!-- 投稿ユーザの場合 -->
				<% if current_question_user.id == @accident.question_user.id %>
					<div>
						<div class="alert alert-info" role="alert">
							<strong>事故は解決しましたか？</strong>：　解決レポートに実際に解決した内容を投稿して教えてください。事故のステータスを解決済みにしましょう！
						</div>
						<%= form_for(@solution_report) do |f| %>
						<div>
							<%= f.text_area :body, class:"form-control", rows:"10", id:"InputTextarea", placeholder:"解決内容&#13;&#10;&#13;&#10;過失割合は0:100。私の車のドライブレコーダーの映像によって、相手の赤信号無視の過失が証明されました。相手の保険会社より全額補償を受けることができました。".html_safe %>
						</div>
						<div class="solution-report-submit-btn-wrap text-right">
							<%= f.submit "解決済みにする", class:"btn btn-primary" %>
						</div>
						<% end %>
					</div>
				<!-- それ以外 -->
				<% else %>>
					<div>
						<div class="alert alert-warning text-center" role="alert">この事故はまだ解決していません。</div>
					</div>
					<% end %>
			<!-- 事故ステータスが解決済み -->
			<% else %>
				<div>
					<!-- 投稿ユーザーの場合 -->
					<% if current_question_user.id == @accident.question_user.id %>
					<div>
						<%= link_to edit_solution_report_path(@accident.solution_report.id) do %>
							<div class="solution-report-edit-link-icon glyphicon glyphicon-edit text-right" aria-hidden="true"></div>
						<% end %>
					</div>
					<% end %>
					<p><%= @accident.solution_report.created_at %>に投稿</p>
					<p><%= @accident.solution_report.body %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>