<!DOCTYPE html>
<html>
  <head>
    <title>Somposan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  </head>

  <body data-spy="scroll" data-target="#sampleScrollSpy">
    <header>
      <div class="container-fluid">
        <!-- ヘッダーバー -->
        <% if question_user_signed_in? || answer_user_signed_in? %>
          <div class="header-bar row">
            <%= link_to root_path do %>
              <div class="header-logo-box"></div>
            <% end %>
            <!-- 検索ボックス -->
            <div class="serch-form">
              <%= search_form_for @q, url: questions_serch_path, class:"form-inline" do |f| %>
                <div class="form-group form-group-lg">
                  <%= f.label :title_or_body_cont, 'Keyword', class:'control-label sr-only' %>
                  <%= f.search_field :title_or_body_cont, autofocus: true, placeholder:"キーワード検索", class:'form-control' %>
                </div>
              <% end %>
            </div>
            <% if question_user_signed_in? %>
              <div class="header-button-group">
                <%= link_to question_user_path(current_question_user.id) do %>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <% end %>
                <%= link_to destroy_question_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                <% end %>
              </div>
            <% elsif answer_user_signed_in? %>
              <div class="header-button-group">
                <%= link_to answer_user_path(current_answer_user.id) do %>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <% end %>
                <%= link_to destroy_answer_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <!-- アバウトセクション（未ログインの場合）-->
        <% unless question_user_signed_in? || answer_user_signed_in? %>
          <section class="header-about-section row">
            <div class="header-about-box-wrap">
              <div class="header-about-box col-xs-7">
                <div>
                  <h3>事故のお悩み持ち寄り相談</h3>
                  <%= link_to root_path do %>
                    <div class="header-about-logo-box"></div>
                  <% end %>
                  <h2>
                    損害保険社員が参加する交通事故相談特化型のQAサイト
                  </h2>
                  <p>
                    事故の困り事を投稿すれば、
                    会社の垣根を越えて損保社員が交通事故の相談にお答えします。
                  </p>
                  <p>>><%= link_to "詳しく見る", homes_about_path, class:"header-link" %></p>
                </div>
              </div>
              <div class="header-signup-box col-md-5">
                <div>
                  <!-- 検索ボックス -->
                  <div class="about-section-serch-form">
                  <%= search_form_for @q, url: questions_serch_path, class:"form-inline" do |f| %>
                    <div class="form-group form-group-lg">
                      <%= f.label :title_or_body_cont, 'Keyword', class:'control-label sr-only' %>
                      <%= f.search_field :title_or_body_cont, autofocus: true, placeholder:"キーワード検索", class:'form-control' %>
                    </div>
                  <% end %>
                  </div>
                  <%= link_to new_answer_user_registration_path, class:"btn btn-success" do %>
                    <i class="fas fa-user-plus"></i> 損保社員として示談交渉経験者はこちら
                  <% end %>
                  <p>回答ができます</p>
                  <%= link_to new_question_user_registration_path, class:"btn btn-success" do %>
                    <i class="fas fa-user-plus"></i> 交通事故でお困りの方はこちら
                  <% end %>
                  <p>質問ができます</p>
                  <%= link_to homes_before_login_path, class:"header-link" do %>
                  <p>>>アカウントをお持ちの方はログイン</p>
                  <% end %>
                </div>
              </div>
            </div>
          </section>
        <% end %>
        <!-- / -->
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
          <div class="row">


            <%= yield %>


          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="footer-wrap col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div>
              <%= link_to root_path do %>
                <div class="footer-logo-box"></div>
              <% end %>
              <p>損害保険社員が参加する交通事故相談特化型のQAサイト</p>
              <p>© みんなのそんぽさん All rights reserved.</p>
            </div>
            <div>
              <%= link_to homes_about_path, class:"footer-link-tag" do %>
                <p>アバウト</p>
              <% end %>
              <%= link_to homes_before_login_path, class:"footer-link-tag" do %>
                <p>ログイン</p>
              <% end %>
              <%= link_to homes_before_signup_path, class:"footer-link-tag" do %>
                <p>新規登録</p>
              <% end %>
              <%= link_to homes_about_situation_path, class:"footer-link-tag" do %>
                <p>事故状況図について</p>
              <% end %>
            </div>
            <div class="footer-image"></div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>