<!DOCTYPE html>
<html>
  <head>
    <title>Somposan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <!-- ヘッダーバー -->
        <div class="header-bar row">
          <%= link_to root_path do %>
            <div class="header-logo-box"></div>
          <% end %>
          <!-- 検索ボックス -->
          <div class="headder-serch-form"><div class="serch-form"></div><div class="serch-icon fas fa-search"></div></div>
          
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
          <div class="row">


            <%= yield %>


          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container-fluid">
        <div class="footer-wrap row">
          <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <h2>みんなのそんぽさん</h2>
            <p>損害保険社員が参加する交通事故相談特化型のQAサイト</p>
            <p>© みんなのそんぽさん All rights reserved.</p>
          </div>
          <div>
            <p>アバウト</p>
            <p>ご利用ガイド</p>
            <p>利用規約</p>
            <p>スコアについて</p>
            <p>レベルについて</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
